.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    row-gap: 3%;
}

@font-face {
    font-family: "Sunwish";
    src: local("Sunwish"),
     url("./Sunwish-Maverick.otf") format("opentype");
    }

.title{
    font-family: Sunwish;
    font-size: 2.2em;
    padding-left: 1%;
}