@font-face {
    font-family: "Deserved";
    src: local("Deserved"),
        url("./Deserved.ttf") format("truetype");
}

.master-box {
    padding: 3%;
    margin-top: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.master-box h1 {
    color: white;
    font-family: Deserved;
    font-size: 4rem;
    text-align: center;
}

.direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    display: flex;
    justify-content: space-between;
}

.back-button{
    background-color: transparent;
    color: white;
    font-size: 1.3em;
    font-family: GuyonGazebo;
    border: 0px solid transparent;
    text-decoration: overline;
}

.next button{
    background-color: transparent;
    color: white;
    font-size: 7em;
    border: 0px solid transparent;
}

.prev button{
    background-color: transparent;
    color: white;
    font-size: 7em;
    border: 0px solid transparent;
}

.lineUp {
    animation: 2s anim-lineUp ease-out forwards;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(130%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }